<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- general  -->
  <link rel="stylesheet" href="/css/general.css" />
  <link rel="stylesheet" href="/css/queries.css" />

  <!-- components  -->
  <link rel="stylesheet" href="/css/components/headerNav.css" />

  <!-- pages -->
  <link rel="stylesheet" href="/css/pages/home.css" />
  <link rel="stylesheet" href="/css/pages/signup.css" />
  <link rel="stylesheet" href="/css/pages/login.css" />
  <link rel="stylesheet" href="/css/pages/createPost.css" />
  <link rel="stylesheet" href="/css/pages/post.css" />
  <link rel="stylesheet" href="/css/pages/myPosts.css" />
  <link rel="stylesheet" href="/css/pages/myAccount.css" />

  <meta
    http-equiv="Content-Security-Policy"
    content="script-src 'self' https://ajax.googleapis.com https://unpkg.com https://cdnjs.cloudflare.com;"
  />
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer
    crossorigin="anonymous"
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <script src="/js/bundle.js"></script>
  <title><%- title -%></title>
</head>
