<main class="main container">
  <section class="login-section">
    <form class="login-form submit-form main-boxes">
      <h2 class="form-header">Log In to Nything</h2>
      <p class="form-secondary">Welcome Back, Please login to your account</p>
      <div class="input-box">
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Email"
          class="input"
        />
      </div>
      <div class="input-box">
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Password"
          class="input"
        />
      </div>
      <div class="remember-me-box">
        <input type="checkbox" />
        <p>Remember me</p>
      </div>
      <button type="submit" class="form--login main-button btn">Sign In</button>
      <div class="forgot-password-box">
        <a href="/forgotPassword" class="forgot-password">Forgot password?</a>
      </div>
    </form>
    <p class="signup-link-request">
      Don't have an account?
      <a href="/Signup" class="signup-link">Sign Up Now</a>
    </p>
  </section>
</main>
