<main class="main container">
  <section class="section-account-settings">
    <form class="submit-form form--resetPassword main-boxes">
      <h2 class="form-header">Reset Password</h2>
      <p class="form-secondary">
        Enter your new password and confirm your password
      </p>
      <div class="input-box">
        <input
          id="password"
          type="password"
          name="password"
          placeholder="New Password"
          class="input"
        />
      </div>
      <div class="input-box">
        <input
          id="passwordConfirm"
          type="password"
          name="passwordConfirm"
          placeholder="Confirm Password"
          class="input"
        />
      </div>
      <button type="submit" class="main-button btn">Change Password</button>
    </form>
  </section>
</main>
