<main class="main container">
  <section class="signup-section">
    <h1 class="primary-header">Start Your Nything Journey!</h1>
    <form class="signup-form main-boxes">
      <div class="signup-rows">
        <h2 class="signup-header">Sign Up</h2>
        <div class="name-row">
          <div class="input-box">
            <input
              id="firstName"
              type="text"
              name="firstName"
              placeholder="First Name"
              class="input"
              required
            />
          </div>
          <div class="input-box">
            <input
              id="lastName"
              type="text"
              name="lastName"
              placeholder="Last Name"
              class="input"
              required
            />
          </div>
        </div>
        <div class="input-box">
          <input
            id="email"
            type="text"
            name="email"
            placeholder="Email"
            class="input"
            required
          />
        </div>
        <div class="input-box">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            class="input"
            required
          />
        </div>
        <div class="input-box">
          <input
            id="passwordConfirm"
            type="password"
            name="passwordConfirm"
            placeholder="Confirm Password"
            class="input"
            required
          />
        </div>
        <div class="terms-policy-box">
          <input type="checkbox" required />
          <p>
            I accept the
            <a href="#" class="terms-policy-links">Terms of Use</a> &
            <a href="#" class="terms-policy-links">Privacy Policy</a>.
          </p>
        </div>
        <button type="submit" class="form--signup main-button btn">
          Sign Up
        </button>
      </div>
    </form>
    <p class="already-member">
      Already have an account?
      <a href="/login" class="login-link">Login here</a>
    </p>
  </section>
</main>
